// Viewports
$phone-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

// Fonts
$main-font: 'Roboto', 'Arial', sans-serif;

// Colors
$main-color: #d41c5c;
$white: #ffffff;
$white--light: #eeede3;
$black: #000000;
$gray--light: #8a8888;
$gray: #2a2a2a;
$gray--dark: #222222;
