.main-nav {
  width: 100%;
  margin: auto;

  @include for-tablet {
    width: initial;
    margin-right: 0;
  }
}

.main-nav__toggle {
  width: 65px;
  height: 65px;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;

  @include for-tablet {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle {

  &::before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: $white--light;
    top: 23px;
    right: 16px;
    box-shadow:
      0 10px 0 0 $white--light,
      0 20px 0 0 $white--light;
  }
}

.main-nav--closed .main-nav__list {
  @include for-phone-only {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    top: 34px;
    right: 23px;
    display: block;
    background-color: $main-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

  @include for-tablet {
    width: initial;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__item:last-child .main-nav__link {
  @include for-tablet {
    padding-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  color: $white--light;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.3s;

  @include for-tablet {
    padding: 10px 20px;
    font-weight: 300;
  }
}

.main-nav__link[href] {
  @media (pointer: fine) {

    &:hover,
    &:focus {
      font-weight: 500;
      color: $main-color;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
